.main_chat
  .main_chat__group_info
    %ul.main_chat__group_info__name
      %li.main_chat__group_info__name__group
        テクチーム
      %li.main_chat__group_info__name__member
        hikaru
    = link_to "Edit", "#", class: "main_chat__group_info__button" 
  .main_chat__message_list
    .main_chat__message_list__group
      %ul.main_chat__message_list__group__user
        %li.main_chat__message_list__group__user__name
          masa
        %li.main_chat__message_list__group__user__created_at
          2020/03/16(Mon) 11:07:41
      .main_chat__message_list__group__message
        おはよう
    .main_chat__message_list__group  
      %ul.main_chat__message_list__group__user
        %li.main_chat__message_list__group__user__name
          nana
        %li.main_chat__message_list__group__user__created_at
          2020/03/16(Mon) 11:07:42
      .main_chat__message_list__group__message
        おはよう!!
  .main_chat__message_form