*{
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  color: #ffffff;
  font-weight: bold;
  &__header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    &__box{
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__name{
        line-height: 20px;
        font-size: 16px;
      }
      &__icon{
        line-height: 20px;
        display: flex;
        justify-content: flex-end;
        li{
          a{
            color: #ffffff;
          }
        }
        &__edit{
          margin-right: 5px;
        }
      }
    }
  }
  &__group_list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    &__display{
      padding: 20px 0 40px 0;
      font-size:0;
      &__name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        font-size: 11px;

      }
    }
  }
}

.main_chat{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group_info{
    height: 100px;
  }
  &__message_list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    border-top: 1px solid #eeeeee;
  }
  &__message_form{
    height: 90px;
    background-color: #d2d2d2;
  }
}